@model AvengersUnityIdentity.Models.Rapport

@{
    ViewBag.Title = "Delete";
}
<div class="jumbotron background">

    <h2>Supprimer</h2>

    <h3>Êtes-vous sûr de vouloir continuer ?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Mission.Titre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mission.Titre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour", "Details", new { id = Model.RapportID })
            </div>
        }
    </div>
</div>