@model AvengersUnityIdentity.Models.Incident

@{
    ViewBag.Title = "Details";
}
<div class="jumbotron background">

    <h2>Informations</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nom_Incident)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nom_Incident)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gravite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gravite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type_degat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type_degat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lieu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lieu)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.IncidentID }) |
        @Html.ActionLink("Supprimer", "Delete", new { id = Model.IncidentID }) |
        @Html.ActionLink("Retour", "Index")
    </p>
</div>